In [1]:
import numpy as np
import pandas as pd
crimes = pd.read_csv("hate_crime.csv", low_memory=False)

## Final Columns in `crimes`
1. <a href='#offense_type'>Offense Type</a> 
2. <a href='#offender_race'>Offender Race<a>
3. <a href='#victim_race'>Victim Race<a>
4. <a href='#offender_count'>Offender Count<a>
5. <a href='#victim_count'>Victim Count<a>
6. <a href='#city'>City<a>
7. <a href='#state'>State<a>
8. <a href='#date'>Date</a>

## Subsetting `crimes`
1. <a href='#columns'>Selecting Columns<a>
2. <a href='#nulls'>Checking null values<a>
2. <a href='#sampling'>Sampling<a>
3. <a href='#date_2'>Date (again)<a>
4. <a href='#exporting'>Exporting<a>

---

### <a id='offense_type'>Offense Type<a>

In [2]:
crimes['OFFENSE_NAME'].value_counts().head(8)

Destruction/Damage/Vandalism of Property                 62147
Intimidation                                             58751
Simple Assault                                           38042
Aggravated Assault                                       20999
Robbery                                                   3454
Burglary/Breaking & Entering                              2670
Destruction/Damage/Vandalism of Property;Intimidation     1774
All Other Larceny                                         1616
Name: OFFENSE_NAME, dtype: int64

In [3]:
# boolean series length of `crimes`
offense_type_not_in_top_4 = ~crimes['OFFENSE_NAME'].isin(['Destruction/Damage/Vandalism of Property', 
                                                          'Intimidation', 
                                                          'Simple Assault', 
                                                          'Aggravated Assault'])
# boolean series length of `crimes`
offense_type_in_top_4 = crimes['OFFENSE_NAME'].isin(['Destruction/Damage/Vandalism of Property', 
                                                     'Intimidation', 
                                                     'Simple Assault', 
                                                     'Aggravated Assault'])

print('Number of Least Common Offense Types: ' + str(len(crimes[offense_type_not_in_top_4])))
print('Number of Most Common Offense Types:  ' + str(len(crimes[offense_type_in_top_4])))

Number of Least Common Offense Types: 21464
Number of Most Common Offense Types:  179939

**The four most common offenses make up most of the data. For simplicity, we will limit our analysis to these types of offenses.**

In [4]:
# drop rows 
crimes = crimes.drop(crimes[offense_type_not_in_top_4].index)
crimes['OFFENSE_NAME'].value_counts()

Destruction/Damage/Vandalism of Property    62147
Intimidation                                58751
Simple Assault                              38042
Aggravated Assault                          20999
Name: OFFENSE_NAME, dtype: int64

### <a id='offender_race'>Offender Race<a>

In [5]:
crimes['OFFENDER_RACE'].value_counts()

Unknown                                      80551
White                                        71544
Black or African American                    22122
Multiple                                      3399
Asian                                         1326
American Indian or Alaska Native               945
Native Hawaiian or Other Pacific Islander       35
Name: OFFENDER_RACE, dtype: int64

**There appears to be no problems here, though we may revisit later.**

### <a id='victim_race'>Victim Race<a>

**Victim race isn't explicitly given, so we must extract it from `BIAS_DESC`**

In [6]:
crimes['BIAS_DESC'].unique()[:20]

array(['Anti-Black or African American', 'Anti-White', 'Anti-Jewish',
       'Anti-Arab', 'Anti-Protestant', 'Anti-Other Religion',
       'Anti-Islamic (Muslim)', 'Anti-Gay (Male)', 'Anti-Asian',
       'Anti-Catholic', 'Anti-Heterosexual', 'Anti-Hispanic or Latino',
       'Anti-Other Race/Ethnicity/Ancestry',
       'Anti-Multiple Religions, Group', 'Anti-Multiple Races, Group',
       'Anti-Lesbian (Female)',
       'Anti-Lesbian, Gay, Bisexual, or Transgender (Mixed Group)',
       'Anti-American Indian or Alaska Native',
       'Anti-Atheism/Agnosticism', 'Anti-Bisexual'], dtype=object)

**There are many attributes unrelated to race here. Furthermore, we want to limit the data to only include hate crimes where the victim race fits in one of the buckets available for offender race. We'll use a map to accomplish this.**

In [7]:
crimes['VICTIM_RACE'] = (crimes['BIAS_DESC'].map({'Anti-White': 'White',
                                                  'Anti-Black or African American': 'Black or African American', 
                                                  'Anti-Multiple Races, Group': 'Multiple', 
                                                  'Anti-Asian': 'Asian', 
                                                  'Anti-American Indian or Alaska Native': 'American Indian or Alaska Native', 
                                                  'Anti-Native Hawaiian or Other Pacific Islander': 'Native Hawaiian or Other Pacific Islander'})
                         .fillna('Unknown'))
crimes['VICTIM_RACE'].value_counts()

Unknown                                      86040
Black or African American                    64199
White                                        18614
Asian                                         5280
Multiple                                      4473
American Indian or Alaska Native              1298
Native Hawaiian or Other Pacific Islander       35
Name: VICTIM_RACE, dtype: int64

### <a id='offender_count'>Offender Count<a>

In [8]:
crimes['TOTAL_OFFENDER_COUNT'].value_counts().head()

1    84073
0    67358
2    15966
3     6728
4     2800
Name: TOTAL_OFFENDER_COUNT, dtype: int64

**There appears to be no problems here, though we may revisit later.**

### <a id='victim_count'>Victim Count<a>

In [9]:
crimes['VICTIM_COUNT'].value_counts().head()

1    157042
2     17208
3      3470
4      1121
5       474
Name: VICTIM_COUNT, dtype: int64

**There appears to be no problems here, though we may revisit later.**

### <a id='city'>City<a>

In [10]:
crimes['PUB_AGENCY_NAME'].value_counts()

New York         9364
Los Angeles      7281
Boston           4022
Phoenix          3388
San Francisco    2974
                 ...
Mooreland           1
Frontenac           1
Firestone           1
Glenns Ferry        1
Plaistow            1
Name: PUB_AGENCY_NAME, Length: 5974, dtype: int64

**There appears to be no problems here, though we may revisit later.**

### <a id='state'>State<a>

In [11]:
crimes['STATE_NAME'].nunique()

53

**We are only intended on handling 51 state names (50 states + D.C.). Since we have more than 51 unique state names, we'll need to filter the extra's out.**

In [12]:
crimes['STATE_NAME'].value_counts().tail()

Wyoming        148
Mississippi     76
Hawaii          41
Federal         20
Guam             5
Name: STATE_NAME, dtype: int64

**We were not intending on handling `Federal` and `Guam`, thus we will remove them from analyses.**

In [13]:
# drop rows with 'STATE_NAME' as Federal or Guam
crimes = crimes.drop(crimes[crimes['STATE_NAME'].isin(['Federal', 'Guam'])].index)
crimes['STATE_NAME'].value_counts().tail()

Alaska         201
Alabama        181
Wyoming        148
Mississippi     76
Hawaii          41
Name: STATE_NAME, dtype: int64

### <a id='date'>Date<a>

In [14]:
# crimes['date'] = crimes.loc[:, 'INCIDENT_DATE'].apply(pd.to_datetime)

**The code above would take forever to run because our dataset is still very large. So we will save this operation for the end.**

---

### <a id='columns'>Selecting Columns<a>

In [15]:
crimes = crimes[['OFFENSE_NAME', 'OFFENDER_RACE', 'VICTIM_RACE', 'TOTAL_OFFENDER_COUNT', 'VICTIM_COUNT', 'PUB_AGENCY_NAME', 'STATE_NAME', 'INCIDENT_DATE']]
crimes = crimes.rename(columns={'OFFENSE_NAME': 'offense_type', 
                                'OFFENDER_RACE': 'offender_race', 
                                'VICTIM_RACE': 'victim_race', 
                                'TOTAL_OFFENDER_COUNT': 'offender_count', 
                                'VICTIM_COUNT': 'victim_count', 
                                'PUB_AGENCY_NAME': 'city', 
                                'STATE_NAME': 'state', 
                                'INCIDENT_DATE': 'date'})
crimes.head()

,offense_type,offender_race,victim_race,offender_count,victim_count,city,state,date
0,Intimidation,White,Black or African American,1,1,Rogers,Arkansas,31-AUG-91
1,Simple Assault,Black or African American,White,1,1,Hope,Arkansas,19-SEP-91
2,Aggravated Assault,Black or African American,Black or African American,1,1,Pine Bluff,Arkansas,04-JUL-91
4,Aggravated Assault,Black or African American,White,1,1,Pine Bluff,Arkansas,23-DEC-91
6,Aggravated Assault,Black or African American,White,2,1,Little Rock,Arkansas,14-NOV-91

**For our visualizations, we only need the columns listed above. To save on memory, we select them from our full dataset.**

### <a id='nulls'>Checking null values<a>

In [16]:
crimes.isna().sum()

offense_type       0
offender_race     17
victim_race        0
offender_count     0
victim_count       0
city               0
state              0
date               0
dtype: int64

**There are a small number of `null` values for the offender race. To prevent later errors, we will remove them now.**

In [17]:
print('Length before dropping nulls: ' + str(len(crimes)))
print()
crimes = crimes.dropna()
print(crimes.isna().sum())
print()
print('Length after dropping nulls: ' + str(len(crimes)))

Length before dropping nulls: 179914

offense_type      0
offender_race     0
victim_race       0
offender_count    0
victim_count      0
city              0
state             0
date              0
dtype: int64

Length after dropping nulls: 179897

### <a id='sampling'>Sampling<a>

In [18]:
len(crimes)

179897

**Ideally, the dataset we work with in d3 is less than 20,000 rows. To accomplish this without messing with the relative proportions of our data, we will randomly sample 10% of the rows remaining and export these. Later in d3, we will scale up accordingly in order to convey accurate information**

In [19]:
crimes = crimes.sample(n=int(len(crimes) / 10), replace=False, random_state=10).reset_index().drop(columns=['index'])
len(crimes)

17989

### <a id='date_2'>Date (again)<a>

In [20]:
crimes['date'] = crimes['date'].apply(pd.to_datetime)

**Now the code runs more quickly.**

### <a id='exporting'>Exporting<a>

In [21]:
crimes.head()

,offense_type,offender_race,victim_race,offender_count,victim_count,city,state,date
0,Simple Assault,Black or African American,Unknown,1,1,Seattle,Washington,2016-04-05
1,Destruction/Damage/Vandalism of Property,Unknown,Black or African American,0,1,State Police:,Maryland,2000-04-29
2,Intimidation,White,Black or African American,1,1,Fairfax City,Virginia,1993-01-01
3,Intimidation,Unknown,Black or African American,0,1,Boston,Massachusetts,2003-08-13
4,Destruction/Damage/Vandalism of Property,Unknown,Unknown,0,1,Washington,District of Columbia,2017-09-11

In [22]:
crimes.to_csv('crimes.csv', index=False)